@import './base.css';


.speakers .main__title {
    font-size: 98px;
    font-weight: bold;
}
.shopping-cart-icon--primary g path {
    fill: var(--color-button-primary-text);
}


.speaker__photo {
    width: 310px;
    height: 310px;
    object-fit: cover;
}

.speaker__photo--top {
    object-position: top;
}
